<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RG25Y7TBPP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RG25Y7TBPP');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<header>
  {# Header fix top #}
  <div class="header-fix">
    <div class="container">
      <div class="logo">
        <a href="{{ url('<front>') }}"><img src="{{ logo }}" alt="logo"></a>
      </div>
      <div class="main-menu">
        {{ drupal_menu('main-menu') }}
      </div>
    </div>
  </div>
  {# Header #}
  <div id="header">
    <div class="container">
      <div class="logo">
        <a href="{{ url('<front>') }}"><img src="{{ logo }}" alt="logo"></a>
      </div>
      <div class="main-menu">
        {{ drupal_menu('main-menu') }}
      </div>
    </div>
  </div>
</header>


